@theme "theme"

window {
	width: 		100px;
	//location:	southeast;
	//y-offset:	-23px;
	//horizontal-align:       1;
}

listview {
	reverse: 	false;
}

mainbox {
   	children:	[ inputbar, listview ];
}

element-text {
	//horizontal-align:       1;
}

element selected {
	background-color:   #990000FF;
}

inputbar {
	children:			[ prompt ];
}