@theme "theme"

window {
	width: 		140px;
	//location:	southeast;
	//y-offset:	-23px;
}

listview {
	//reverse: 	true;
}

mainbox {
   	children:	[ inputbar, listview ];
}

element-text {
	// horizontal-align:       1;
}

element selected {
	//background-color:   #AA0000FF;
}
